<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>
    #container {
      width: 400px;
      height: 300px;
      position: relative;
    }
  </style>
</head>

<body>
  <div class="container ">
    <div class="row">
      <div class="col-6 square-box d-flex justify-content-end align-items-center">
        <!-- <img class="img-fluid" style="max-width: 45%;" id="picture">
        <img src="{{ url_for('static', filename='images/original/' + 'original.png') }}" alt="Uploaded Image"> -->
        <form method="POST" enctype="multipart/form-data">
          <div class="drop-zone">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" name="image" class="drop-zone__input">
          </div>
        </form>
      </div>
      <div class="col-6 square-box d-flex justify-content-start align-items-center ">
        <!-- 3D VIEW HERE -->
        <div id="container"></div>
      </div>
    </div>
    <div class="row">
      {% for img in imagelist %}
      <div class="col-3 square-box d-flex justify-content-center align-items-center">
        <img class="img-fluid" style="max-width: 80%;" id="picture"
          src="{{ url_for('static', filename='images/pbr/' +img) }}" alt="Image">
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <!-- <div class="col-4 square-box d-flex justify-content-end align-items-center">
          <input type="file" id="selectedFile" style="display: none;" name="image" />
          <input class="btn btn-primary" type="submit" value="Upload" onclick="document.getElementById('selectedFile').click();" />
      </div> -->
      <div class="col-6 square-box d-flex justify-content-end align-items-center ">
        <button class="btn btn-primary" type="submit">Download</button>
      </div>
      <div class="col-6 square-box d-flex justify-content-start align-items-center ">
        <button class="btn btn-primary" type="submit">Generate</button>
      </div>
    </div>
  </div>

</body>
<!-- <script type="module" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/browser-polyfill@3.20.2/polyfills/localStorage/polyfill.min.js"></script>

</html>