<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>
    #container {
      width: 20em;
      height: 20em;
      position: relative;
    }
  </style>
</head>

<body>
  <div class="container ">
    <div class="row my-2">
      <div class="col-lg-4 col-sm-6 justify-content-end align-items-center">
        <!-- <img class="img-fluid" style="max-width: 100%; margin-bottom: 1em;" id="picture" src="{{ url_for('static', filename='images/original/' + 'original.png') }}" alt="Uploaded Image"> -->
        <img class="img-fluid" style="max-width: 100%; margin-bottom: 1em;" id="picture" src="{{ url_for('static', filename='images/temp/' + 'seamless.png') }}" alt="Uploaded Image">
      </div>
      <div class="col-lg-4 col-sm-6 d-flex justify-content-center align-items-center">
        <form method="POST" enctype="multipart/form-data">
          <div id="drop_area" style="padding:5em; border: 1px solid black; width: 18em; height:18em">
            <p id="drop_text">Drag and drop your files here to upload.</p>
          </div>
          <input type="file" accept="image/*" id="fileInput" style="display: none;">
          <div id="upload_progress"></div>
          <div id="speed"></div>
        </form>
      </div>
      <div class="col-lg-4 col-sm-6 square-box d-flex align-items-center">
        <!-- 3D VIEW HERE -->
        <div id="container"></div>
      </div>
    </div>
    
    <div class="row">
      {% for img in imagelist %}
      <div class="col-lg-3 col-md-6 d-flex justify-content-center">
        <img class="" style="width: 13em; margin: 0.2em;" id="picture"
          src="{{ url_for('static', filename='images/pbr/' +img) }}" alt="Image">
      </div>
      {% endfor %}
    </div>

    <div class="row my-4">
      <div class="col-6 square-box d-flex justify-content-end align-items-center ">
        <button class="btn btn-primary" type="submit">Download</button>
      </div>
      <div class="col-6 square-box d-flex justify-content-start align-items-center ">
        <button class="btn btn-primary" type="submit">Generate</button>
      </div>
    </div>
  </div>

</body>
<!-- <script type="module" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/viewport.js') }}"></script>

</html>